<html>
    <head>
        <title>Community Events - New</title>
    </head>
    <body>
        <h1>Submit an Event</h1>
        <form method="post" action="/events/new">
          <label for="event_name">Event Name:</label>
          <input type="text" name="event_name" value="">
          <label for="event_date">Date:</label>
          <input type="date" name="event_date" value="">
          <label for="name">Name:</label>
          <input type="name" name="user_name" value="{% if session['username'] %}{{session['username']}}{% endif %}" placeholder="Your name" {% if session['username'] %}readonly{% endif %}>
          <input type="submit" value="Submit">
        </form>
        <p><a href="/">Back to the Board</a></p>
        {% if session %}
        <p><a href="/logout">Log out</a></p>
        {% endif %}
    </body>
</html>
