<html>
    <head>
        <title>Community Events - Sign Up</title>
    </head>
    <body>
      <div class="header">
        <p><a href="/">Home</a></p>
        <h1>Sign Up</h1>
        <p>Create your account here.</p>
      </div>
      <form action="/signup" method="POST">
        <label for="name">Name</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Sign Up">
      </form>
      <p>Already have an account? <a href="/">Log in.</a></p>
    </body>
</html>
